#
#
#
abseil-cpp
altair
appdirs
appnope
arrow-cpp
asttokens
attrs
aws-c-common
aws-c-event-stream
aws-checksums
aws-sdk-cpp
backcall
backports
backports.functools_lru_cache
blas
blinker
blosc
boost-cpp
bottleneck
branca
brotli
brotli-bin
brotlipy
bzip2
c-ares
ca-certificates
cachetools
cairo
certifi
cffi
cfitsio
charset-normalizer
click
click-plugins
cligj
commonmark
contourpy
cryptography
curl
cycler
dataclasses
debugpy
decorator
entrypoints
executing
expat
fiona
folium
fontconfig
fonttools
freetype
freexl
future
gdal
geopandas
geopandas-base
geos
geotiff
gettext
gflags
giflib
gitdb
gitpython
glib
glog
grpc-cpp
hdf4
hdf5
icu
idna
importlib-metadata
importlib_resources
ipykernel
ipython
ipywidgets
jedi
jinja2
joblib
jpeg
json-c
jsonschema
jupyter_client
jupyter_core
jupyterlab_widgets
kealib
kiwisolver
krb5
lcms2
lerc
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libcxx
libdeflate
libedit
libev
libevent
libffi
libgdal
libgfortran
libgfortran5
libiconv
libkml
libnetcdf
libnghttp2
libopenblas
libpng
libpq
libprotobuf
libsodium
libspatialindex
libspatialite
libssh2
libthrift
libtiff
libwebp
libwebp-base
libxml2
libzip
llvm-openmp
lz4-c
mapclassify
markupsafe
matplotlib-base
matplotlib-inline
munch
munkres
ncurses
nest-asyncio
networkx
nspr
nss
numexpr
numpy
numpy-base
openjpeg
openssl
orc
packaging
pandas
parso
pcre
pcre2
pexpect
pickleshare
pillow
pip
pixman
platformdirs
plotly
pooch
poppler
poppler-data
postgresql
proj
prompt-toolkit
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydeck
pygments
pympler
pyopenssl
pyparsing
pyproj
pyrsistent
pysocks
python
python-dateutil
python_abi
pytz
pyzmq
qhull
re2
readline
requests
rich
rtree
scikit-learn
scipy
semver
setuptools
shapely
six
smmap
snappy
sqlite
stack_data
streamlit
tenacity
threadpoolctl
tiledb
tk
toml
toolz
tornado
traitlets
typing-extensions
typing_extensions
tzdata
tzlocal
urllib3
utf8proc
validators
wcwidth
wheel
widgetsnbextension
xerces-c
xyzservices
xz
zeromq
zipp
zlib
zstd
